/* MAIN ELEMENTS */
:root {
  /* navbar */
  --background-navbar-day:    #FFFFFF;
  --background-navbar-night:  #21222A;
  --font-navbar:                'Inter', sans-serif 16px 400;
  /* main page */
  --main-background-day:      #FFFFFF;
  --main-background-night:    #282D35;
  --main-text-day:            #2B283A;
  --main-text-night:          #FFFFFF;
  --accent-blue:              #61DAFB;
}

html, body {
  margin: 0px;
  padding: 0px;
 height: 100svh;
}
#root {
  height: 100%;
}





/* NAVBAR */
header {
  display: block;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 10px;
  background-color: var(--background-navbar-day);
  color: var(--text-navbar-day);
  box-shadow: 0px 5px 20px -5px #c2c2c2;
}
.dark {
  background-color: var(--background-navbar-night);
  color: var(--text-navbar-night);
  box-shadow: none;
}

nav a {
  text-decoration: none;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-logo {
  height: 30px; /* changed from Figma 28.93? */
  width: auto;
}
.navbar-title {
  font-family: 'Inter', sans-serif;
  font-size: 20px; /* changed from Figma 22.25? */
  font-weight: 600;
  color: var(--accent-blue);
  margin-left: 5px;
  padding-top: 5px;
}


/* TOGGLER */
.toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
  margin: 2px;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}








/* MAIN PAGE */
.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main-content {
  display: flex;
  width: 100%;
  flex-grow: 1;
  /* background-color: var(--main-background-day); */
  color: var(--main-text-day);
  padding: 50px;
  margin: 0px;
  align-items: center;
  justify-content: center;
}

.main-content-dark{
    background-color: var(--main-background-night);
    color: var(--main-text-night);
}

.main-content-h1 {
  font-family: 'Inter', sans-serif;
  font-size: 40px; /* changed from Figma 39.06? */
  font-weight: 700;
  font-weight: bold;
  letter-spacing: -0.05em;
}

.main-content-li {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 15px 10px;
}

/* This is an old method of changing bullet points, including deleting them and then re-creating them with ::before 

 .main-content ul {
  list-style: none; 
  max-width: 400px;
} 

 .main-content ul li::before {
  content: "\2022";  
  color: var(--accent-blue); 
  font-weight: bold; 
  display: inline-block; 
  width: 1em;
  margin-left: -1em; 
} 

*/

/* new method of altering bullets */
.main-content ul {
  max-width: 400px;
}
.main-content ul li::marker {
  font-size: 1.4em;
  color: var(--accent-blue);
}

.background-logo {
  height: 263px; 
  width: auto;
}

/* FOOTER */
.footer {
  background-color: var(--main-background-day);
  display: block;
  bottom: 0px;
  padding: 10px;
  text-align: center;
  color: var(--main-text-day);
  /* flex-shrink: 0; */
}
.dark {
  background-color: var(--main-background-night);
  color: var(--main-text-night);
  box-shadow: none;
}

.footer-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 10px;
}
